header {
    z-index: 1;
    position: fixed;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #1616169d;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    font-family: Poppins;
}

.toggle {
    display: none;
}

.active a,
.menu li a:hover {
    background-color: #FFF;
    color: #292929!important;
    font-weight: bold;
    transition: all ease 0.4s;
}

body {
    background-color: #161616;
    min-height: 100vh;
    display: flex;
}

#main {
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    color: #FFF;
    font-size: 12px;
}

.lang {
    color: #FFF;
}

@media screen and (max-width: 500px) {
    img {
        height: 300px;
    }
}

#about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.about-text {
    font-family: calibri;
    width: 50%;
}

.about-text h1 {
    font-size: 5rem;
    color: red;
}

.about-text h2 {
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 400;
}

.about-text h1,
h2 {
    margin: 0px;
    padding: 0px;
}

.about-text p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.90);
}